@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Examen U2</h1>
    <p>Alumno: Juan Esteban Baltierrez Tobon #18100152 </p>
    <p>Topico: Mascotas</p>
    <a class="btn btn-primary" asp-action="AgregarObjeto">Agregar una mascota</a>
    <a class="btn btn-primary" asp-action="ListaObjetos">Ver listado de mascotas</a>
</div>
